In [1]:
# 라이브러리
import pandas as pd

In [2]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 롯데 관중 수 없는 데이터 가져오기
nc_no_crowd = pd.read_csv('../Data/nc.csv')
nc_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
0    2022.04.02(토)  14:03  16:56  2:53  루친스키      폰트  구장 : 창원
1    2022.04.03(일)  13:59  17:02  3:03   파슨스     노경은  구장 : 창원
2    2022.04.05(화)  18:30  21:24  2:54   신민혁     김진욱  구장 : 창원
3    2022.04.06(수)  18:29  21:12  2:43   송명기     이인복  구장 : 창원
4    2022.04.07(목)  18:29  21:21  2:52   이재학      반즈  구장 : 창원
..             ...    ...    ...   ...   ...     ...      ...
341  2024.05.29(수)  18:30  21:54  3:24    하트     이의리  구장 : 창원
342  2024.05.30(목)  18:31  21:14  2:43   김시훈     황동하  구장 : 창원
343  2024.05.31(금)  18:31  21:44  3:13   김진욱     신영우  구장 : 사직
344  2024.06.01(토)  17:02  20:23  3:21   이민석    카스타노  구장 : 사직
345  2024.06.02(일)  17:01  20:28  3:27   박세웅     신민혁  구장 : 사직

[346 rows x 7 columns]

In [4]:
nc_no_crowd['구장'].unique()

array(['구장 : 창원', '구장 : 잠실', '구장 : 고척', '구장 : 수원', '구장 : 대구', '구장 : 사직',
       '구장 : 문학', '구장 : 광주', '구장 : 대전'], dtype=object)

In [5]:
# 구장이 사직인 데이터만 가져오기
nc_no_crowd = nc_no_crowd[nc_no_crowd['구장'] == '구장 : 창원']
nc_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
0    2022.04.02(토)  14:03  16:56  2:53  루친스키      폰트  구장 : 창원
1    2022.04.03(일)  13:59  17:02  3:03   파슨스     노경은  구장 : 창원
2    2022.04.05(화)  18:30  21:24  2:54   신민혁     김진욱  구장 : 창원
3    2022.04.06(수)  18:29  21:12  2:43   송명기     이인복  구장 : 창원
4    2022.04.07(목)  18:29  21:21  2:52   이재학      반즈  구장 : 창원
..             ...    ...    ...   ...   ...     ...      ...
332  2024.05.18(토)  17:00  20:17  3:17   이재학     황동하  구장 : 창원
333  2024.05.19(일)  14:00  16:41  2:41   이용준     양현종  구장 : 창원
340  2024.05.28(화)  18:30  22:00  3:30   신민혁     윤영철  구장 : 창원
341  2024.05.29(수)  18:30  21:54  3:24    하트     이의리  구장 : 창원
342  2024.05.30(목)  18:31  21:14  2:43   김시훈     황동하  구장 : 창원

[170 rows x 7 columns]

In [6]:
# 날짜 데이터 요일 제거
nc_no_crowd['날짜'] = nc_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
nc_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
0   2022-04-02  14:03  16:56  2:53  루친스키      폰트  구장 : 창원
1   2022-04-03  13:59  17:02  3:03   파슨스     노경은  구장 : 창원
2   2022-04-05  18:30  21:24  2:54   신민혁     김진욱  구장 : 창원
3   2022-04-06  18:29  21:12  2:43   송명기     이인복  구장 : 창원
4   2022-04-07  18:29  21:21  2:52   이재학      반즈  구장 : 창원
..         ...    ...    ...   ...   ...     ...      ...
332 2024-05-18  17:00  20:17  3:17   이재학     황동하  구장 : 창원
333 2024-05-19  14:00  16:41  2:41   이용준     양현종  구장 : 창원
340 2024-05-28  18:30  22:00  3:30   신민혁     윤영철  구장 : 창원
341 2024-05-29  18:30  21:54  3:24    하트     이의리  구장 : 창원
342 2024-05-30  18:31  21:14  2:43   김시훈     황동하  구장 : 창원

[170 rows x 7 columns]

In [7]:
# 정보 확인하기
nc_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 0 to 342
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       170 non-null    datetime64[ns]
 1   시작시간     170 non-null    object
 2   종료시간     170 non-null    object
 3   경기시간     170 non-null    object
 4   홈팀 선발    170 non-null    object
 5   어웨이팀 선발  170 non-null    object
 6   구장       170 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.6+ KB

In [8]:
# 2024년 06월 이전 데이터만 가져오기
nc_no_crowd = nc_no_crowd[nc_no_crowd['날짜'] < '2024-06-01']
nc_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
0   2022-04-02  14:03  16:56  2:53  루친스키      폰트  구장 : 창원
1   2022-04-03  13:59  17:02  3:03   파슨스     노경은  구장 : 창원
2   2022-04-05  18:30  21:24  2:54   신민혁     김진욱  구장 : 창원
3   2022-04-06  18:29  21:12  2:43   송명기     이인복  구장 : 창원
4   2022-04-07  18:29  21:21  2:52   이재학      반즈  구장 : 창원
..         ...    ...    ...   ...   ...     ...      ...
332 2024-05-18  17:00  20:17  3:17   이재학     황동하  구장 : 창원
333 2024-05-19  14:00  16:41  2:41   이용준     양현종  구장 : 창원
340 2024-05-28  18:30  22:00  3:30   신민혁     윤영철  구장 : 창원
341 2024-05-29  18:30  21:54  3:24    하트     이의리  구장 : 창원
342 2024-05-30  18:31  21:14  2:43   김시훈     황동하  구장 : 창원

[170 rows x 7 columns]

In [9]:
# 롯데 관중 수 있는 데이터 가져오기
nc_crowd = pd.read_csv('../Data/crowd/nc.csv')
nc_crowd

             날짜 요일  홈팀  원정팀  장소   관중 수
0    2022-04-02  토  NC  SSG  창원   7814
1    2022-04-03  일  NC  SSG  창원   4808
2    2022-04-05  화  NC   롯데  창원   3246
3    2022-04-06  수  NC   롯데  창원   3000
4    2022-04-07  목  NC   롯데  창원   3017
..          ... ..  ..  ...  ..    ...
171  2024-06-05  수  NC   두산  창원   9892
172  2024-06-06  목  NC   두산  창원  14517
173  2024-06-11  화  NC   KT  창원   4279
174  2024-06-12  수  NC   KT  창원   4123
175  2024-06-13  목  NC   KT  창원   3764

[176 rows x 6 columns]

In [10]:
# 정보확인
nc_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    object
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.4+ KB

In [11]:
# 날짜 데이터 타입 변환
nc_crowd['날짜'] = nc_crowd['날짜'].astype('datetime64[ns]')
nc_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  NC  SSG  창원   7814
1   2022-04-03  일  NC  SSG  창원   4808
2   2022-04-05  화  NC   롯데  창원   3246
3   2022-04-06  수  NC   롯데  창원   3000
4   2022-04-07  목  NC   롯데  창원   3017
..         ... ..  ..  ...  ..    ...
171 2024-06-05  수  NC   두산  창원   9892
172 2024-06-06  목  NC   두산  창원  14517
173 2024-06-11  화  NC   KT  창원   4279
174 2024-06-12  수  NC   KT  창원   4123
175 2024-06-13  목  NC   KT  창원   3764

[176 rows x 6 columns]

In [12]:
# 정보 확인
nc_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      176 non-null    datetime64[ns]
 1   요일      176 non-null    object
 2   홈팀      176 non-null    object
 3   원정팀     176 non-null    object
 4   장소      176 non-null    object
 5   관중 수    176 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.4+ KB

In [13]:
# 2024년 06월 이전 데이터만 가져오기
nc_crowd = nc_crowd[nc_crowd['날짜'] < '2024-06-01']
nc_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  NC  SSG  창원   7814
1   2022-04-03  일  NC  SSG  창원   4808
2   2022-04-05  화  NC   롯데  창원   3246
3   2022-04-06  수  NC   롯데  창원   3000
4   2022-04-07  목  NC   롯데  창원   3017
..         ... ..  ..  ...  ..    ...
165 2024-05-18  토  NC  KIA  창원  17891
166 2024-05-19  일  NC  KIA  창원  16253
167 2024-05-28  화  NC  KIA  창원   8024
168 2024-05-29  수  NC  KIA  창원   7994
169 2024-05-30  목  NC  KIA  창원   7349

[170 rows x 6 columns]

In [14]:
# 날짜가 중복된 데이터 확인
nc_crowd[nc_crowd.날짜.duplicated()]

            날짜 요일  홈팀  원정팀  장소   관중 수
127 2023-09-09  토  NC   롯데  창원  17861
135 2023-09-27  수  NC  KIA  창원   8190

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [15]:
nc_crowd[nc_crowd.날짜 == '2023-09-09']

            날짜 요일  홈팀 원정팀  장소   관중 수
126 2023-09-09  토  NC  롯데  창원  10933
127 2023-09-09  토  NC  롯데  창원  17861

In [16]:
nc_crowd[nc_crowd.날짜 == '2023-09-27']

            날짜 요일  홈팀  원정팀  장소  관중 수
134 2023-09-27  수  NC  KIA  창원  3775
135 2023-09-27  수  NC  KIA  창원  8190

In [17]:
# 날짜가 중복된 데이터 확인
nc_no_crowd[nc_no_crowd.날짜.duplicated()]

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
259 2023-09-09  17:39  21:29  3:50   최성영     한현희  구장 : 창원
271 2023-09-27  18:29  21:06  2:37    태너     이의리  구장 : 창원

In [18]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-09']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
258 2023-09-09  14:00  17:09  3:09   송명기     박세웅  구장 : 창원
259 2023-09-09  17:39  21:29  3:50   최성영     한현희  구장 : 창원

In [19]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-27']

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발       구장
270 2023-09-27  15:00  17:43  2:43   송명기     산체스  구장 : 창원
271 2023-09-27  18:29  21:06  2:37    태너     이의리  구장 : 창원

In [20]:
# kiwoom_crowd 기준 병합
nc = \
    pd.merge(
        nc_crowd, nc_no_crowd,
        on='날짜',
        how='inner'
        )
nc

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,토,NC,SSG,창원,7814,14:03,16:56,2:53,루친스키,폰트,구장 : 창원
1,2022-04-03,일,NC,SSG,창원,4808,13:59,17:02,3:03,파슨스,노경은,구장 : 창원
2,2022-04-05,화,NC,롯데,창원,3246,18:30,21:24,2:54,신민혁,김진욱,구장 : 창원
3,2022-04-06,수,NC,롯데,창원,3000,18:29,21:12,2:43,송명기,이인복,구장 : 창원
4,2022-04-07,목,NC,롯데,창원,3017,18:29,21:21,2:52,이재학,반즈,구장 : 창원
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2024-05-18,토,NC,KIA,창원,17891,17:00,20:17,3:17,이재학,황동하,구장 : 창원
170,2024-05-19,일,NC,KIA,창원,16253,14:00,16:41,2:41,이용준,양현종,구장 : 창원
171,2024-05-28,화,NC,KIA,창원,8024,18:30,22:00,3:30,신민혁,윤영철,구장 : 창원
172,2024-05-29,수,NC,KIA,창원,7994,18:30,21:54,3:24,하트,이의리,구장 : 창원
173,2024-05-30,목,NC,KIA,창원,7349,18:31,21:14,2:43,김시훈,황동하,구장 : 창원

In [22]:
# 날짜 중복된 데이터 확인
nc[nc.날짜 == '2023-09-09']

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
126,2023-09-09,토,NC,롯데,창원,10933,14:00,17:09,3:09,송명기,박세웅,구장 : 창원
127,2023-09-09,토,NC,롯데,창원,10933,17:39,21:29,3:50,최성영,한현희,구장 : 창원
128,2023-09-09,토,NC,롯데,창원,17861,14:00,17:09,3:09,송명기,박세웅,구장 : 창원
129,2023-09-09,토,NC,롯데,창원,17861,17:39,21:29,3:50,최성영,한현희,구장 : 창원

In [23]:
nc[nc.날짜 == '2023-09-27']

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
136,2023-09-27,수,NC,KIA,창원,3775,15:00,17:43,2:43,송명기,산체스,구장 : 창원
137,2023-09-27,수,NC,KIA,창원,3775,18:29,21:06,2:37,태너,이의리,구장 : 창원
138,2023-09-27,수,NC,KIA,창원,8190,15:00,17:43,2:43,송명기,산체스,구장 : 창원
139,2023-09-27,수,NC,KIA,창원,8190,18:29,21:06,2:37,태너,이의리,구장 : 창원

In [24]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
nc = nc.drop(index=[127,128])
nc = nc.drop(index=[137,138])
nc = nc.reset_index(drop=True)
nc

,날짜,요일,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,토,NC,SSG,창원,7814,14:03,16:56,2:53,루친스키,폰트,구장 : 창원
1,2022-04-03,일,NC,SSG,창원,4808,13:59,17:02,3:03,파슨스,노경은,구장 : 창원
2,2022-04-05,화,NC,롯데,창원,3246,18:30,21:24,2:54,신민혁,김진욱,구장 : 창원
3,2022-04-06,수,NC,롯데,창원,3000,18:29,21:12,2:43,송명기,이인복,구장 : 창원
4,2022-04-07,목,NC,롯데,창원,3017,18:29,21:21,2:52,이재학,반즈,구장 : 창원
...,...,...,...,...,...,...,...,...,...,...,...,...
165,2024-05-18,토,NC,KIA,창원,17891,17:00,20:17,3:17,이재학,황동하,구장 : 창원
166,2024-05-19,일,NC,KIA,창원,16253,14:00,16:41,2:41,이용준,양현종,구장 : 창원
167,2024-05-28,화,NC,KIA,창원,8024,18:30,22:00,3:30,신민혁,윤영철,구장 : 창원
168,2024-05-29,수,NC,KIA,창원,7994,18:30,21:54,3:24,하트,이의리,구장 : 창원
169,2024-05-30,목,NC,KIA,창원,7349,18:31,21:14,2:43,김시훈,황동하,구장 : 창원

In [25]:
# 롯데 전적 관련 데이터 가져오기
nc_rank = pd.read_csv('../Data/rank/NC_rank.csv')
nc_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,NC,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-1,0-0-0
1,2022-04-03,NC,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-2,0-0-0
2,2022-04-05,NC,9,3,0,3,0,0.000,3.0,0승0무3패,3패,0-0-3,0-0-0
3,2022-04-06,NC,7,4,1,3,0,0.250,3.0,1승0무3패,1승,1-0-3,0-0-0
4,2022-04-07,NC,7,5,1,4,0,0.200,4.0,1승0무4패,1패,1-0-4,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,NC,5,55,27,27,1,0.500,7.0,2승0무8패,7패,14-0-13,13-1-14
384,2024-05-31,NC,5,56,27,28,1,0.491,7.0,2승0무8패,8패,14-0-13,13-1-15
385,2024-06-01,NC,5,57,28,28,1,0.500,7.0,2승0무8패,1승,14-0-13,14-1-15
386,2024-06-02,NC,6,58,28,29,1,0.491,7.0,1승0무9패,1패,14-0-13,14-1-16
387,2024-06-04,NC,6,59,28,30,1,0.483,7.0,1승0무9패,2패,14-0-14,14-1-16

In [26]:
nc_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    object
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 39.5+ KB

In [27]:
# 날짜기준으로 병합하기 위해 타입 변환
nc_rank['날짜'] = nc_rank['날짜'].astype('datetime64[ns]')
nc_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,NC,6,1,0,1,0,0.000,1.0,0승0무1패,1패,0-0-1,0-0-0
1,2022-04-03,NC,8,2,0,2,0,0.000,2.0,0승0무2패,2패,0-0-2,0-0-0
2,2022-04-05,NC,9,3,0,3,0,0.000,3.0,0승0무3패,3패,0-0-3,0-0-0
3,2022-04-06,NC,7,4,1,3,0,0.250,3.0,1승0무3패,1승,1-0-3,0-0-0
4,2022-04-07,NC,7,5,1,4,0,0.200,4.0,1승0무4패,1패,1-0-4,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,NC,5,55,27,27,1,0.500,7.0,2승0무8패,7패,14-0-13,13-1-14
384,2024-05-31,NC,5,56,27,28,1,0.491,7.0,2승0무8패,8패,14-0-13,13-1-15
385,2024-06-01,NC,5,57,28,28,1,0.500,7.0,2승0무8패,1승,14-0-13,14-1-15
386,2024-06-02,NC,6,58,28,29,1,0.491,7.0,1승0무9패,1패,14-0-13,14-1-16
387,2024-06-04,NC,6,59,28,30,1,0.483,7.0,1승0무9패,2패,14-0-14,14-1-16

In [28]:
nc_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [29]:
# kiwoom 기준으로 내부 조인 병합
nc_new = nc_rank.merge(nc, on="날짜", how="inner")
nc_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,NC,6,1,0,1,0,0.000,1.0,0승0무1패,...,NC,SSG,창원,7814,14:03,16:56,2:53,루친스키,폰트,구장 : 창원
1,2022-04-03,NC,8,2,0,2,0,0.000,2.0,0승0무2패,...,NC,SSG,창원,4808,13:59,17:02,3:03,파슨스,노경은,구장 : 창원
2,2022-04-05,NC,9,3,0,3,0,0.000,3.0,0승0무3패,...,NC,롯데,창원,3246,18:30,21:24,2:54,신민혁,김진욱,구장 : 창원
3,2022-04-06,NC,7,4,1,3,0,0.250,3.0,1승0무3패,...,NC,롯데,창원,3000,18:29,21:12,2:43,송명기,이인복,구장 : 창원
4,2022-04-07,NC,7,5,1,4,0,0.200,4.0,1승0무4패,...,NC,롯데,창원,3017,18:29,21:21,2:52,이재학,반즈,구장 : 창원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2024-05-18,NC,3,45,25,19,1,0.568,3.0,3승1무6패,...,NC,KIA,창원,17891,17:00,20:17,3:17,이재학,황동하,구장 : 창원
166,2024-05-19,NC,3,46,25,20,1,0.556,4.0,3승1무6패,...,NC,KIA,창원,16253,14:00,16:41,2:41,이용준,양현종,구장 : 창원
167,2024-05-28,NC,5,53,27,25,1,0.519,5.0,2승0무8패,...,NC,KIA,창원,8024,18:30,22:00,3:30,신민혁,윤영철,구장 : 창원
168,2024-05-29,NC,5,54,27,26,1,0.509,6.0,2승0무8패,...,NC,KIA,창원,7994,18:30,21:54,3:24,하트,이의리,구장 : 창원
169,2024-05-30,NC,5,55,27,27,1,0.500,7.0,2승0무8패,...,NC,KIA,창원,7349,18:31,21:14,2:43,김시훈,황동하,구장 : 창원

In [30]:
# 데이터 저장
nc_new.to_csv('../Data/final_data/nc_new.csv', index=None)