In [10]:
# 라이브러리
import pandas as pd

In [11]:
# 차트 경고 메세지 무시
import warnings
warnings.filterwarnings('ignore')

In [12]:
# 롯데 관중 수 없는 데이터 가져오기
dusan_no_crowd = pd.read_csv('../Data/dusan.csv')
dusan_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:02  17:27  3:25    스탁     김민우  잠실
1    2022.04.03(일)  14:01  16:29  2:28   최원준      킹험  잠실
2    2022.04.05(화)  18:32  22:26  3:54   이영하     원태인  잠실
3    2022.04.06(수)  18:31  21:31  3:00    곽빈     양창섭  잠실
4    2022.04.07(목)  18:31  22:24  3:53   박신지     허윤동  잠실
..             ...    ...    ...   ...   ...     ...  ..
344  2024.05.29(수)  18:31  21:41  3:10   최준호     원상현  잠실
345  2024.05.30(목)  18:30  21:17  2:47    곽빈     한차현  잠실
346  2024.05.31(금)  18:30  21:57  3:27   브랜든     손주영  잠실
347  2024.06.01(토)  17:00  21:02  4:02  알칸타라      켈리  잠실
348  2024.06.02(일)  14:00  17:37  3:37   김유성      엔스  잠실

[349 rows x 7 columns]

In [13]:
dusan_no_crowd['구장'].unique()

array(['잠실', '사직', '수원', '광주', '문학', '고척', '대구', '대전', '창원', '울산', '포항'],
      dtype=object)

In [14]:
# 구장이 사직인 데이터만 가져오기
dusan_no_crowd = dusan_no_crowd[dusan_no_crowd['구장'] == '잠실']
dusan_no_crowd

                날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0    2022.04.02(토)  14:02  17:27  3:25    스탁     김민우  잠실
1    2022.04.03(일)  14:01  16:29  2:28   최원준      킹험  잠실
2    2022.04.05(화)  18:32  22:26  3:54   이영하     원태인  잠실
3    2022.04.06(수)  18:31  21:31  3:00    곽빈     양창섭  잠실
4    2022.04.07(목)  18:31  22:24  3:53   박신지     허윤동  잠실
..             ...    ...    ...   ...   ...     ...  ..
344  2024.05.29(수)  18:31  21:41  3:10   최준호     원상현  잠실
345  2024.05.30(목)  18:30  21:17  2:47    곽빈     한차현  잠실
346  2024.05.31(금)  18:30  21:57  3:27   브랜든     손주영  잠실
347  2024.06.01(토)  17:00  21:02  4:02  알칸타라      켈리  잠실
348  2024.06.02(일)  14:00  17:37  3:37   김유성      엔스  잠실

[197 rows x 7 columns]

In [15]:
# 날짜 데이터 요일 제거
dusan_no_crowd['날짜'] = dusan_no_crowd['날짜'].str[:10].astype('datetime64[ns]')
dusan_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  14:02  17:27  3:25    스탁     김민우  잠실
1   2022-04-03  14:01  16:29  2:28   최원준      킹험  잠실
2   2022-04-05  18:32  22:26  3:54   이영하     원태인  잠실
3   2022-04-06  18:31  21:31  3:00    곽빈     양창섭  잠실
4   2022-04-07  18:31  22:24  3:53   박신지     허윤동  잠실
..         ...    ...    ...   ...   ...     ...  ..
344 2024-05-29  18:31  21:41  3:10   최준호     원상현  잠실
345 2024-05-30  18:30  21:17  2:47    곽빈     한차현  잠실
346 2024-05-31  18:30  21:57  3:27   브랜든     손주영  잠실
347 2024-06-01  17:00  21:02  4:02  알칸타라      켈리  잠실
348 2024-06-02  14:00  17:37  3:37   김유성      엔스  잠실

[197 rows x 7 columns]

In [16]:
# 정보 확인하기
dusan_no_crowd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 0 to 348
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       197 non-null    datetime64[ns]
 1   시작시간     197 non-null    object
 2   종료시간     197 non-null    object
 3   경기시간     197 non-null    object
 4   홈팀 선발    197 non-null    object
 5   어웨이팀 선발  197 non-null    object
 6   구장       197 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 12.3+ KB

In [17]:
# 2024년 06월 이전 데이터만 가져오기
dusan_no_crowd = dusan_no_crowd[dusan_no_crowd['날짜'] < '2024-06-01']
dusan_no_crowd

            날짜   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  14:02  17:27  3:25    스탁     김민우  잠실
1   2022-04-03  14:01  16:29  2:28   최원준      킹험  잠실
2   2022-04-05  18:32  22:26  3:54   이영하     원태인  잠실
3   2022-04-06  18:31  21:31  3:00    곽빈     양창섭  잠실
4   2022-04-07  18:31  22:24  3:53   박신지     허윤동  잠실
..         ...    ...    ...   ...   ...     ...  ..
339 2024-05-23  18:30  21:44  3:14   최준호     송영진  잠실
343 2024-05-28  18:30  21:57  3:27   최원준    쿠에바스  잠실
344 2024-05-29  18:31  21:41  3:10   최준호     원상현  잠실
345 2024-05-30  18:30  21:17  2:47    곽빈     한차현  잠실
346 2024-05-31  18:30  21:57  3:27   브랜든     손주영  잠실

[195 rows x 7 columns]

In [19]:
# 롯데 관중 수 있는 데이터 가져오기
dusan_crowd = pd.read_csv('../Data/crowd/dusan.csv')
dusan_crowd

             날짜 요일  홈팀  원정팀  장소   관중 수
0    2022-04-02  토  두산   한화  잠실  16271
1    2022-04-03  일  두산   한화  잠실  11345
2    2022-04-05  화  두산   삼성  잠실   4109
3    2022-04-06  수  두산   삼성  잠실   4161
4    2022-04-07  목  두산   삼성  잠실   4055
..          ... ..  ..  ...  ..    ...
179  2024-06-08  토  두산  KIA  잠실  23750
180  2024-06-09  일  두산  KIA  잠실  23750
181  2024-06-11  화  두산   한화  잠실  18475
182  2024-06-12  수  두산   한화  잠실  21630
183  2024-06-13  목  두산   한화  잠실  20253

[184 rows x 6 columns]

In [20]:
# 정보확인
dusan_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      184 non-null    object
 1   요일      184 non-null    object
 2   홈팀      184 non-null    object
 3   원정팀     184 non-null    object
 4   장소      184 non-null    object
 5   관중 수    184 non-null    int64
dtypes: int64(1), object(5)
memory usage: 8.8+ KB

In [21]:
# 날짜 데이터 타입 변환
dusan_crowd['날짜'] = dusan_crowd['날짜'].astype('datetime64[ns]')
dusan_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  두산   한화  잠실  16271
1   2022-04-03  일  두산   한화  잠실  11345
2   2022-04-05  화  두산   삼성  잠실   4109
3   2022-04-06  수  두산   삼성  잠실   4161
4   2022-04-07  목  두산   삼성  잠실   4055
..         ... ..  ..  ...  ..    ...
179 2024-06-08  토  두산  KIA  잠실  23750
180 2024-06-09  일  두산  KIA  잠실  23750
181 2024-06-11  화  두산   한화  잠실  18475
182 2024-06-12  수  두산   한화  잠실  21630
183 2024-06-13  목  두산   한화  잠실  20253

[184 rows x 6 columns]

In [22]:
# 정보 확인
dusan_crowd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      184 non-null    datetime64[ns]
 1   요일      184 non-null    object
 2   홈팀      184 non-null    object
 3   원정팀     184 non-null    object
 4   장소      184 non-null    object
 5   관중 수    184 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 8.8+ KB

In [23]:
# 2024년 06월 이전 데이터만 가져오기
dusan_crowd = dusan_crowd[dusan_crowd['날짜'] < '2024-06-01']
dusan_crowd

            날짜 요일  홈팀  원정팀  장소   관중 수
0   2022-04-02  토  두산   한화  잠실  16271
1   2022-04-03  일  두산   한화  잠실  11345
2   2022-04-05  화  두산   삼성  잠실   4109
3   2022-04-06  수  두산   삼성  잠실   4161
4   2022-04-07  목  두산   삼성  잠실   4055
..         ... ..  ..  ...  ..    ...
171 2024-05-23  목  두산  SSG  잠실  12131
172 2024-05-28  화  두산   KT  잠실   8459
173 2024-05-29  수  두산   KT  잠실   8811
174 2024-05-30  목  두산   KT  잠실   7915
175 2024-05-31  금  두산   LG  잠실  23750

[176 rows x 6 columns]

In [24]:
# 날짜가 중복된 데이터 확인
dusan_crowd[dusan_crowd.날짜.duplicated()]

            날짜 요일  홈팀 원정팀  장소   관중 수
130 2023-09-09  토  두산  삼성  잠실  21514
156 2024-04-21  일  두산  키움  잠실   6197
165 2024-05-12  일  두산  KT  잠실   9026

> 2023-09-09 2개 경기가 있는거 확인.(실제 데이터 확인 결과)

In [ ]:
nc_crowd[nc_crowd.날짜 == '2023-09-09']

In [ ]:
nc_crowd[nc_crowd.날짜 == '2023-09-27']

In [ ]:
# 날짜가 중복된 데이터 확인
nc_no_crowd[nc_no_crowd.날짜.duplicated()]

In [ ]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-09']

In [ ]:
nc_no_crowd[nc_no_crowd.날짜 == '2023-09-27']

In [25]:
# kiwoom_crowd 기준 병합
dusan = \
    pd.merge(
        dusan_crowd, dusan_no_crowd,
        on='날짜',
        how='inner'
        )
dusan

            날짜 요일  홈팀  원정팀  장소   관중 수   시작시간   종료시간  경기시간 홈팀 선발 어웨이팀 선발  구장
0   2022-04-02  토  두산   한화  잠실  16271  14:02  17:27  3:25    스탁     김민우  잠실
1   2022-04-03  일  두산   한화  잠실  11345  14:01  16:29  2:28   최원준      킹험  잠실
2   2022-04-05  화  두산   삼성  잠실   4109  18:32  22:26  3:54   이영하     원태인  잠실
3   2022-04-06  수  두산   삼성  잠실   4161  18:31  21:31  3:00    곽빈     양창섭  잠실
4   2022-04-07  목  두산   삼성  잠실   4055  18:31  22:24  3:53   박신지     허윤동  잠실
..         ... ..  ..  ...  ..    ...    ...    ...   ...   ...     ...  ..
177 2024-05-23  목  두산  SSG  잠실  12131  18:30  21:44  3:14   최준호     송영진  잠실
178 2024-05-28  화  두산   KT  잠실   8459  18:30  21:57  3:27   최원준    쿠에바스  잠실
179 2024-05-29  수  두산   KT  잠실   8811  18:31  21:41  3:10   최준호     원상현  잠실
180 2024-05-30  목  두산   KT  잠실   7915  18:30  21:17  2:47    곽빈     한차현  잠실
181 2024-05-31  금  두산   LG  잠실  23750  18:30  21:57  3:27   브랜든     손주영  잠실

[182 rows x 12 columns]

In [ ]:
# 날짜 중복된 데이터 확인
dusan[dusan.날짜 == '2023-09-09']

In [ ]:
nc[nc.날짜 == '2023-09-27']

In [ ]:
# lotte_crowd와 lotte_no_crowd은 날짜 기준, 시간 오름차순 정렬
# 140, 141행은 거짓
nc = nc.drop(index=[127,128])
nc = nc.drop(index=[137,138])
nc = nc.reset_index(drop=True)
nc

In [26]:
# 롯데 전적 관련 데이터 가져오기
dusan_rank = pd.read_csv('../Data/rank/두산_rank.csv')
dusan_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,두산,1,1,1,0,0,1.000,0.0,1승0무0패,1승,1-0-0,0-0-0
1,2022-04-03,두산,1,2,2,0,0,1.000,0.0,2승0무0패,2승,2-0-0,0-0-0
2,2022-04-05,두산,3,3,2,1,0,0.667,1.0,2승0무1패,1패,2-0-1,0-0-0
3,2022-04-06,두산,4,4,2,2,0,0.500,2.0,2승0무2패,2패,2-0-2,0-0-0
4,2022-04-07,두산,3,5,3,2,0,0.600,2.0,3승0무2패,1승,3-0-2,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,두산,2,58,32,24,2,0.571,3.0,6승1무3패,2승,19-1-10,13-1-14
384,2024-05-31,두산,3,59,32,25,2,0.561,3.0,6승0무4패,1패,19-1-11,13-1-14
385,2024-06-01,두산,4,60,32,26,2,0.552,4.0,5승0무5패,2패,19-1-12,13-1-14
386,2024-06-02,두산,4,61,32,27,2,0.542,4.0,4승0무6패,3패,19-1-13,13-1-14
387,2024-06-04,두산,4,62,33,27,2,0.550,3.0,4승0무6패,1승,19-1-13,14-1-14

In [27]:
dusan_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    object
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 39.5+ KB

In [28]:
# 날짜기준으로 병합하기 위해 타입 변환
dusan_rank['날짜'] = dusan_rank['날짜'].astype('datetime64[ns]')
dusan_rank

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,연속 승패 현황,홈 경기 전적,원정 경기 전적
0,2022-04-02,두산,1,1,1,0,0,1.000,0.0,1승0무0패,1승,1-0-0,0-0-0
1,2022-04-03,두산,1,2,2,0,0,1.000,0.0,2승0무0패,2승,2-0-0,0-0-0
2,2022-04-05,두산,3,3,2,1,0,0.667,1.0,2승0무1패,1패,2-0-1,0-0-0
3,2022-04-06,두산,4,4,2,2,0,0.500,2.0,2승0무2패,2패,2-0-2,0-0-0
4,2022-04-07,두산,3,5,3,2,0,0.600,2.0,3승0무2패,1승,3-0-2,0-0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2024-05-30,두산,2,58,32,24,2,0.571,3.0,6승1무3패,2승,19-1-10,13-1-14
384,2024-05-31,두산,3,59,32,25,2,0.561,3.0,6승0무4패,1패,19-1-11,13-1-14
385,2024-06-01,두산,4,60,32,26,2,0.552,4.0,5승0무5패,2패,19-1-12,13-1-14
386,2024-06-02,두산,4,61,32,27,2,0.542,4.0,4승0무6패,3패,19-1-13,13-1-14
387,2024-06-04,두산,4,62,33,27,2,0.550,3.0,4승0무6패,1승,19-1-13,14-1-14

In [29]:
dusan_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          388 non-null    datetime64[ns]
 1   팀명          388 non-null    object
 2   순위          388 non-null    int64
 3   총 경기수       388 non-null    int64
 4   승리          388 non-null    int64
 5   패배          388 non-null    int64
 6   무승부         388 non-null    int64
 7   승률          388 non-null    float64
 8   게임차         388 non-null    float64
 9   최근 10경기 전적  388 non-null    object
 10  연속 승패 현황    388 non-null    object
 11  홈 경기 전적     388 non-null    object
 12  원정 경기 전적    388 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 39.5+ KB

In [30]:
# kiwoom 기준으로 내부 조인 병합
dusan_new = dusan_rank.merge(dusan, on="날짜", how="inner")
dusan_new

,날짜,팀명,순위,총 경기수,승리,패배,무승부,승률,게임차,최근 10경기 전적,...,홈팀,원정팀,장소,관중 수,시작시간,종료시간,경기시간,홈팀 선발,어웨이팀 선발,구장
0,2022-04-02,두산,1,1,1,0,0,1.000,0.0,1승0무0패,...,두산,한화,잠실,16271,14:02,17:27,3:25,스탁,김민우,잠실
1,2022-04-03,두산,1,2,2,0,0,1.000,0.0,2승0무0패,...,두산,한화,잠실,11345,14:01,16:29,2:28,최원준,킹험,잠실
2,2022-04-05,두산,3,3,2,1,0,0.667,1.0,2승0무1패,...,두산,삼성,잠실,4109,18:32,22:26,3:54,이영하,원태인,잠실
3,2022-04-06,두산,4,4,2,2,0,0.500,2.0,2승0무2패,...,두산,삼성,잠실,4161,18:31,21:31,3:00,곽빈,양창섭,잠실
4,2022-04-07,두산,3,5,3,2,0,0.600,2.0,3승0무2패,...,두산,삼성,잠실,4055,18:31,22:24,3:53,박신지,허윤동,잠실
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,2024-05-23,두산,2,52,29,21,2,0.580,1.0,6승2무2패,...,두산,SSG,잠실,12131,18:30,21:44,3:14,최준호,송영진,잠실
178,2024-05-28,두산,3,56,30,24,2,0.556,3.0,5승1무4패,...,두산,KT,잠실,8459,18:30,21:57,3:27,최원준,쿠에바스,잠실
179,2024-05-29,두산,3,57,31,24,2,0.564,3.0,6승1무3패,...,두산,KT,잠실,8811,18:31,21:41,3:10,최준호,원상현,잠실
180,2024-05-30,두산,2,58,32,24,2,0.571,3.0,6승1무3패,...,두산,KT,잠실,7915,18:30,21:17,2:47,곽빈,한차현,잠실
181,2024-05-31,두산,3,59,32,25,2,0.561,3.0,6승0무4패,...,두산,LG,잠실,23750,18:30,21:57,3:27,브랜든,손주영,잠실

In [31]:
# 데이터 저장
dusan_new.to_csv('../Data/final_data/dusan_new.csv', index=None)