In [1]:
import pandas as pd

In [14]:
myteam = pd.read_csv('schedule/lotte.csv')
myteam

     월   일 요일    홈 어웨이 경기장
0    3  23  토  SSG  롯데  인천
1    3  24  일  SSG  롯데  인천
2    3  26  화  KIA  롯데  광주
3    3  27  수  KIA  롯데  광주
4    3  28  목  KIA  롯데  광주
..  ..  .. ..  ...  ..  ..
129  8  24  토   삼성  롯데  대구
130  8  25  일   삼성  롯데  대구
131  8  27  화   롯데  한화  부산
132  8  28  수   롯데  한화  부산
133  8  29  목   롯데  한화  부산

[134 rows x 6 columns]

In [16]:
away = myteam[(myteam['월']==3) & (myteam['일']==23)]['어웨이']
home = myteam[(myteam['월']==3) & (myteam['일']==23)]['홈']
where= myteam[(myteam['월']==3) & (myteam['일']==23)]['경기장']

0    인천
Name: 경기장, dtype: object

In [17]:
myteam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   월       134 non-null    int64
 1   일       134 non-null    int64
 2   요일      134 non-null    object
 3   홈       134 non-null    object
 4   어웨이     134 non-null    object
 5   경기장     134 non-null    object
dtypes: int64(2), object(4)
memory usage: 6.4+ KB