#### 김소리
### 2024시즌 야구 일정

In [18]:
import pandas as pd

In [19]:
# 2024 시즌 경기 일정 파일 kbo로 저장
kbo = pd.read_excel('Data/2024kbo.xlsx')
kbo

     월   일 요일  서울 잠실  서울 고척   인천 문학     수원   대전     대구       광주  부산 사직      창원
0    3  23  토  한화-LG    NaN  롯데-SSG  삼성-KT  NaN    NaN   키움-KIA    NaN   두산-NC
1    3  24  일  한화-LG    NaN  롯데-SSG  삼성-KT  NaN    NaN   키움-KIA    NaN   두산-NC
2    3  25  월    NaN    NaN     NaN    NaN  NaN    NaN      NaN    NaN     NaN
3    3  26  화  삼성-LG    NaN  한화-SSG  두산-KT  NaN    NaN   롯데-KIA    NaN   키움-NC
4    3  27  수  삼성-LG    NaN  한화-SSG  두산-KT  NaN    NaN   롯데-KIA    NaN   키움-NC
..  ..  .. ..    ...    ...     ...    ...  ...    ...      ...    ...     ...
155  8  25  일  한화-두산  LG-키움  KT-SSG    NaN  NaN  롯데-삼성      NaN    NaN  KIA-NC
156  8  26  월    NaN    NaN     NaN    NaN  NaN    NaN      NaN    NaN     NaN
157  8  27  화  KT-LG  삼성-키움     NaN    NaN  NaN    NaN  SSG-KIA  한화-롯데   두산-NC
158  8  28  수  KT-LG  삼성-키움     NaN    NaN  NaN    NaN  SSG-KIA  한화-롯데   두산-NC
159  8  29  목  KT-LG  삼성-키움     NaN    NaN  NaN    NaN  SSG-KIA  한화-롯데   두산-NC

[160 rows x 12 columns]

In [20]:
# 월요일은 경기가 없기 때문에 월요일 데이터는 삭제
kbo = kbo.drop(kbo[kbo['요일'] == '월'].index)
# nan 데이터는 경기가 없다 라는 데이터 임으로 - 로 변환
kbo.fillna('-',inplace=True)
kbo

     월   일 요일  서울 잠실  서울 고척   인천 문학     수원 대전     대구       광주  부산 사직      창원
0    3  23  토  한화-LG      -  롯데-SSG  삼성-KT  -      -   키움-KIA      -   두산-NC
1    3  24  일  한화-LG      -  롯데-SSG  삼성-KT  -      -   키움-KIA      -   두산-NC
3    3  26  화  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
4    3  27  수  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
5    3  28  목  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
..  ..  .. ..    ...    ...     ...    ... ..    ...      ...    ...     ...
154  8  24  토  한화-두산  LG-키움  KT-SSG      -  -  롯데-삼성        -      -  KIA-NC
155  8  25  일  한화-두산  LG-키움  KT-SSG      -  -  롯데-삼성        -      -  KIA-NC
157  8  27  화  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC
158  8  28  수  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC
159  8  29  목  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC

[137 rows x 12 columns]

In [21]:
# 올스타 경기 제외
kbo = kbo.drop(kbo[(kbo['월'] == 7) & (kbo['일'].isin([5,6,7]))].index)

In [22]:
# 인덱스 초기화
kbo.reset_index(drop='index',inplace=True)

In [23]:
# 1차 정제된 데이터 확인
kbo

     월   일 요일  서울 잠실  서울 고척   인천 문학     수원 대전     대구       광주  부산 사직      창원
0    3  23  토  한화-LG      -  롯데-SSG  삼성-KT  -      -   키움-KIA      -   두산-NC
1    3  24  일  한화-LG      -  롯데-SSG  삼성-KT  -      -   키움-KIA      -   두산-NC
2    3  26  화  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
3    3  27  수  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
4    3  28  목  삼성-LG      -  한화-SSG  두산-KT  -      -   롯데-KIA      -   키움-NC
..  ..  .. ..    ...    ...     ...    ... ..    ...      ...    ...     ...
129  8  24  토  한화-두산  LG-키움  KT-SSG      -  -  롯데-삼성        -      -  KIA-NC
130  8  25  일  한화-두산  LG-키움  KT-SSG      -  -  롯데-삼성        -      -  KIA-NC
131  8  27  화  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC
132  8  28  수  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC
133  8  29  목  KT-LG  삼성-키움       -      -  -      -  SSG-KIA  한화-롯데   두산-NC

[134 rows x 12 columns]

In [24]:
# 구장별 홈팀 원정팀으로 나누기

count = 0
kbo['서울 잠실 홈'] = 'LG'
kbo['서울 잠실 어웨이'] = '한화'
for i in kbo['서울 잠실'].str.split('-'):
    kbo.loc[count,'서울 잠실 홈'] = i[1]
    kbo.loc[count,'서울 잠실 어웨이'] = i[0]
    count += 1

count = 0
kbo['서울 고척 홈'] = 'test'
kbo['서울 고척 어웨이'] = 'test'
for i in kbo['서울 고척'].str.split('-'):
    kbo.loc[count,'서울 고척 홈'] = i[1]
    kbo.loc[count,'서울 고척 어웨이'] = i[0]
    count += 1

count = 0
kbo['인천 문학 홈'] = 'test'
kbo['인천 문학 어웨이'] = 'test'
for i in kbo['인천 문학'].str.split('-'):
    kbo.loc[count,'인천 문학 홈'] = i[1]
    kbo.loc[count,'인천 문학 어웨이'] = i[0]
    count += 1

count = 0
kbo['수원 홈'] = 'test'
kbo['수원 어웨이'] = 'test'
for i in kbo['수원'].str.split('-'):
    kbo.loc[count,'수원 홈'] = i[1]
    kbo.loc[count,'수원 어웨이'] = i[0]
    count += 1

count = 0
kbo['대전 홈'] = 'test'
kbo['대전 어웨이'] = 'test'
for i in kbo['대전'].str.split('-'):
    kbo.loc[count,'대전 홈'] = i[1]
    kbo.loc[count,'대전 어웨이'] = i[0]
    count += 1

count = 0
kbo['대구 홈'] = 'test'
kbo['대구 어웨이'] = 'test'
for i in kbo['대구'].str.split('-'):
    kbo.loc[count,'대구 홈'] = i[1]
    kbo.loc[count,'대구 어웨이'] = i[0]
    count += 1

count = 0
kbo['광주 홈'] = 'test'
kbo['광주 어웨이'] = 'test'
for i in kbo['광주'].str.split('-'):
    kbo.loc[count,'광주 홈'] = i[1]
    kbo.loc[count,'광주 어웨이'] = i[0]
    count += 1

count = 0
kbo['부산 사직 홈'] = 'test'
kbo['부산 사직 어웨이'] = 'test'
for i in kbo['부산 사직'].str.split('-'):
    kbo.loc[count,'부산 사직 홈'] = i[1]
    kbo.loc[count,'부산 사직 어웨이'] = i[0]
    count += 1

count = 0
kbo['창원 홈'] = 'test'
kbo['창원 어웨이'] = 'test'
for i in kbo['창원'].str.split('-'):
    kbo.loc[count,'창원 홈'] = i[1]
    kbo.loc[count,'창원 어웨이'] = i[0]
    count += 1

# 기존에 있던 구장 컬럼 삭제
kbo.drop(
    columns= ['서울 잠실','서울 고척','인천 문학','수원','대전','대구','광주','부산 사직','창원'],
    inplace=True
)

In [25]:
kbo

,월,일,요일,서울 잠실 홈,서울 잠실 어웨이,서울 고척 홈,서울 고척 어웨이,인천 문학 홈,인천 문학 어웨이,수원 홈,...,대전 홈,대전 어웨이,대구 홈,대구 어웨이,광주 홈,광주 어웨이,부산 사직 홈,부산 사직 어웨이,창원 홈,창원 어웨이
0,3,23,토,LG,한화,,,SSG,롯데,KT,...,,,,,KIA,키움,,,NC,두산
1,3,24,일,LG,한화,,,SSG,롯데,KT,...,,,,,KIA,키움,,,NC,두산
2,3,26,화,LG,삼성,,,SSG,한화,KT,...,,,,,KIA,롯데,,,NC,키움
3,3,27,수,LG,삼성,,,SSG,한화,KT,...,,,,,KIA,롯데,,,NC,키움
4,3,28,목,LG,삼성,,,SSG,한화,KT,...,,,,,KIA,롯데,,,NC,키움
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,8,24,토,두산,한화,키움,LG,SSG,KT,,...,,,삼성,롯데,,,,,NC,KIA
130,8,25,일,두산,한화,키움,LG,SSG,KT,,...,,,삼성,롯데,,,,,NC,KIA
131,8,27,화,LG,KT,키움,삼성,,,,...,,,,,KIA,SSG,롯데,한화,NC,두산
132,8,28,수,LG,KT,키움,삼성,,,,...,,,,,KIA,SSG,롯데,한화,NC,두산
133,8,29,목,LG,KT,키움,삼성,,,,...,,,,,KIA,SSG,롯데,한화,NC,두산