In [81]:
import pymysql
import pandas as pd

conn = pymysql.connect(
        host='127.0.0.1',
        user='root',
        password='qwer1234',
        database='python',
        charset='utf8'
    )

# Connection으로부터 Cursor 생성
curs = conn.cursor()

# SQL 문장
sql = 'select * from cheer'
curs.execute(sql)
rows = curs.fetchall()
conn.close()

In [70]:
temp = list(rows)

In [82]:
rows

((1, '삼성화이팅~', datetime.datetime(2024, 6, 13, 17, 32, 54), '이승엽팬', '삼성'),
 (2, '삼성 이겨라아아~~', datetime.datetime(2024, 6, 13, 18, 7, 9), '오승환 FAN', '삼성'))

In [95]:
search_team = "삼성"

conn = pymysql.connect(
        host='127.0.0.1',
        user='root',
        password='qwer1234',
        database='python',
        charset='utf8'
    )

# Connection으로부터 Cursor 생성
curs = conn.cursor()

# SQL 문장
sql = "select * from cheer where cteam = %s"
curs.execute(sql, "삼성")
rows = curs.fetchall()
conn.close()

response = []
for row in rows :
    result_dict = {
        "id" : row[0],
        "content" : row[1],
        "date" : row[2].strftime("%y-%m-%d %H:%M:%S"),
        "nickname" : row[3],
        "team" : row[4]
    }
    response.append(result_dict)

response

[{'id': 1,
  'content': '삼성화이팅~',
  'date': '24-06-13 17:32:54',
  'nickname': '이승엽팬',
  'team': '삼성'},
 {'id': 2,
  'content': '삼성 이겨라아아~~',
  'date': '24-06-13 18:07:09',
  'nickname': '오승환 FAN',
  'team': '삼성'}]

In [38]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/python")
conn = engine.connect()

data = pd.read_sql_table('cheer', conn)
data

   cid       ctext               cdate    cname cteam
0    1      삼성화이팅~ 2024-06-13 17:32:54     이승엽팬    삼성
1    2  삼성 이겨라아아~~ 2024-06-13 18:07:09  오승환 FAN    삼성

In [52]:
data.cdate = data.cdate.dt.strftime("%Y-%m-%d %H:%M:%S")

In [59]:
response = []
for i in range(len(data)) :
    response.append(data.loc[i, :].to_dict())

In [111]:
len(response)

2

In [112]:
len([])

0