# 팀에 등록되어있는 투수 정보 크롤링
- 2024-06-05 13:43
- 이천영

----

In [75]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time

# Chrome Browser와 Chrome Driver Version 확인
chrome_options = webdriver.ChromeOptions()

# 요청
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
url = 'https://www.koreabaseball.com/Player/Register.aspx'
driver.get(url)

pitcher_info = []


for index in range(1,11) :
    # 팀 정보 클릭
    driver.find_element(By.XPATH, f'//*[@id="cphContents_cphContents_cphContents_udpRecord"]/div[1]/ul/li[{index}]/a').click()
    time.sleep(0.7)

    # 투수들 정보가 담겨있는 tr
    pitcher_tr = driver.find_element(By.XPATH, '//*[@id="cphContents_cphContents_cphContents_udpRecord"]/div[3]/table[3]/tbody').find_elements(By.TAG_NAME, 'tr')
    time.sleep(0.7)

    # 팀 이름
    team_name = driver.find_element(By.XPATH, '//*[@id="cphContents_cphContents_cphContents_udpRecord"]/div[3]/h4').text[:-7]
    time.sleep(0.7)

    # 투수들의 상세정보들
    for pitcher in pitcher_tr :

        pitcher_dict = {}

        # 등번호
        number = pitcher.find_elements(By.TAG_NAME, 'td')[0].text
        # 이름
        name = pitcher.find_elements(By.TAG_NAME, 'td')[1].text
        # 투타 유형
        type = pitcher.find_elements(By.TAG_NAME, 'td')[2].text
        # 생년월일
        birth_date = pitcher.find_elements(By.TAG_NAME, 'td')[3].text
        # 키
        height = pitcher.find_elements(By.TAG_NAME, 'td')[4].text.split(',')[0]
        # 몸무게
        weight = pitcher.find_elements(By.TAG_NAME, 'td')[4].text.split(',')[1].strip()

        pitcher_dict = {
            '팀 이름' : team_name, 
            '등번호' : number,
            '이름' : name,
            '투타유형' : type,
            '생년월일' : birth_date,
            '키' : height,
            '몸무게' : weight
        }

        pitcher_info.append(pitcher_dict)
        time.sleep(0.7)

driver.quit()

In [77]:
import pandas as pd
pitcher_df = pd.DataFrame(pitcher_info)

In [84]:
pitcher_df.head()

       팀 이름 등번호   이름  투타유형        생년월일      키    몸무게
0  KIA 타이거즈  13  윤영철  좌투좌타  2004-04-20  187cm   87kg
1  KIA 타이거즈  17  임기영  우언우타  1993-04-16  184cm   86kg
2  KIA 타이거즈  20  이준영  좌투좌타  1992-08-10  177cm   85kg
3  KIA 타이거즈  21  김사윤  좌투좌타  1994-06-08  182cm   90kg
4  KIA 타이거즈  39  최지민  좌투좌타  2003-09-10  185cm  100kg

In [82]:
# 팀 갯수 확인
len(pitcher_df['팀 이름'].unique())

10

In [85]:
pitcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   팀 이름    127 non-null    object
 1   등번호     127 non-null    object
 2   이름      127 non-null    object
 3   투타유형    127 non-null    object
 4   생년월일    127 non-null    object
 5   키       127 non-null    object
 6   몸무게     127 non-null    object
dtypes: object(7)
memory usage: 7.1+ KB

In [93]:
pitcher_df[pitcher_df['팀 이름'] == '키움 히어로즈']

        팀 이름 등번호    이름  투타유형        생년월일      키    몸무게
115  키움 히어로즈  00   박윤성  우투우타  2004-02-08  183cm   96kg
116  키움 히어로즈   8   김성민  좌투좌타  1994-04-26  181cm   90kg
117  키움 히어로즈  11   조상우  우투우타  1994-09-04  186cm   97kg
118  키움 히어로즈  20   조영건  우투우타  1999-02-04  180cm   85kg
119  키움 히어로즈  21   문성현  우투우타  1991-11-09  182cm   89kg
120  키움 히어로즈  30   주승우  우투우타  2000-01-30  180cm   82kg
121  키움 히어로즈  31   오석주  우투우타  1998-04-14  180cm   74kg
122  키움 히어로즈  42   박승주  우투우타  1994-02-12  183cm   96kg
123  키움 히어로즈  49   김선기  우투우타  1991-09-01  187cm   98kg
124  키움 히어로즈  54  헤이수스  좌투좌타  1996-12-10  192cm  104kg
125  키움 히어로즈  67   김인범  우투우타  2000-01-12  187cm   91kg
126  키움 히어로즈  95   윤석원  좌투좌타  2003-07-04  185cm   81kg

In [90]:
pitcher_df.to_csv('./Data/pitcher_info.csv', index=None)